Install squid for local testing use

## Overview

The goal is to setup a super simple Squid proxy installation that can be accessed from a set of local IPs for testing purposes.

The goal is not to mask the IP of the client(s), but to provide caching for repeat content requests to avoid hitting remote rate limiting thresholds (and to be considerate).

## Directions

### RHEL 8

1. `sudo yum install squid`
1. `sudo systemctl enable squid`
1. `sudo firewall-cmd --zone=internal --add-source="192.168.236.1" --permanent`
   - the VMware Workstation IP for the "host" is `192.168.236.1`
1.  `sudo firewall-cmd --zone=internal --add-port=3128/tcp --permanent`
   - using the default tcp port
1. `sudo firewall-cmd --reload
1. `sudo cp -v /etc/squid/squid.conf /etc/squid/squid.conf.original`
1. `sudo chmod -v a-w /etc/squid/squid.conf.original`
1. `sudo truncate -s 0 /etc/squid/squid.conf`
1. `sudo nano /etc/squid/squid.conf`
1. `sudo systemctl enable squid`
1. `sudo systemctl start squid`
1. Open a terminal from the host (e.g., Ubuntu WSL instance)
1. `wget -e use_proxy=yes -e https_proxy=192.168.236.131:3128 https://raw.githubusercontent.com/atc0005/go-ci/refs/heads/master/README.md -O -`

The `squid` package (v4.15 at the time of this writing) is provided by the `rhel-8-for-x86_64-appstream-rpms` repo.

### Ubuntu

- placeholder

### Common

Here is a config file provided by Microsoft Copilot tuned for minimal memory usage and short connection lifetimes:

```squid
# squid.conf
http_port 3128
cache_dir ufs /var/spool/squid 100 16 256
cache_mem 64 MB
maximum_object_size_in_memory 1 MB
maximum_object_size 4 MB
cache_replacement_policy heap LFUDA
memory_replacement_policy heap GDSF
cache_log /var/log/squid/cache.log
access_log /var/log/squid/access.log
cache_store_log none
logfile_rotate 10
shutdown_lifetime 1 second
client_lifetime 1 minute
half_closed_clients off
pconn_timeout 1 minute
```

Here is the default configuration (RHEL 8) with all comments/whitespace removed:

```squid
acl localnet src 0.0.0.1-0.255.255.255  # RFC 1122 "this" network (LAN)
acl localnet src 10.0.0.0/8             # RFC 1918 local private network (LAN)
acl localnet src 100.64.0.0/10          # RFC 6598 shared address space (CGN)
acl localnet src 169.254.0.0/16         # RFC 3927 link-local (directly plugged) machines
acl localnet src 172.16.0.0/12          # RFC 1918 local private network (LAN)
acl localnet src 192.168.0.0/16         # RFC 1918 local private network (LAN)
acl localnet src fc00::/7               # RFC 4193 local private network range
acl localnet src fe80::/10              # RFC 4291 link-local (directly plugged) machines
acl SSL_ports port 443
acl Safe_ports port 80          # http
acl Safe_ports port 21          # ftp
acl Safe_ports port 443         # https
acl Safe_ports port 210         # wais
acl Safe_ports port 1025-65535  # unregistered ports
acl Safe_ports port 280         # http-mgmt
acl Safe_ports port 488         # gss-http
acl Safe_ports port 591         # filemaker
acl Safe_ports port 777         # multiling http
acl CONNECT method CONNECT
http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports
http_access allow localhost manager
http_access deny manager
http_access allow localnet
http_access allow localhost
http_access deny all
http_port 3128
coredump_dir /var/spool/squid
refresh_pattern ^ftp:           1440    20%     10080
refresh_pattern -i (/cgi-bin/|\?) 0     0%      0
refresh_pattern .               0       20%     4320
```

## References

- General
  - https://ubuntu.com/server/docs/how-to-install-a-squid-server
- Docker container(s)
  - https://hub.docker.com/r/sameersbn/squid
  - https://github.com/sameersbn/docker-squid/forks?include=active&page=1&period=2y&sort_by=last_updated

Potentially a better alternative:

- https://hub.docker.com/r/ubuntu/squid

**EDIT**:

It's not clear yet how often those images are updated. For local testing, even if the images end up being a bit outdated they are probably still a better alternative as it would probably be easier/less intensive to spin up a container vs a full VM.

Here is what I previously used for testing in a local RHEL 8 VM:

```squid
# https://github.com/atc0005/notes/issues/78

acl localnet src 0.0.0.1-0.255.255.255  # RFC 1122 "this" network (LAN)
acl localnet src 10.0.0.0/8             # RFC 1918 local private network (LAN)
acl localnet src 100.64.0.0/10          # RFC 6598 shared address space (CGN)
acl localnet src 169.254.0.0/16         # RFC 3927 link-local (directly plugged) machines
acl localnet src 172.16.0.0/12          # RFC 1918 local private network (LAN)
acl localnet src 192.168.0.0/16         # RFC 1918 local private network (LAN)
acl localnet src fc00::/7               # RFC 4193 local private network range
acl localnet src fe80::/10              # RFC 4291 link-local (directly plugged) machines
acl SSL_ports port 443
acl Safe_ports port 80          # http
acl Safe_ports port 21          # ftp
acl Safe_ports port 443         # https
acl Safe_ports port 210         # wais
acl Safe_ports port 1025-65535  # unregistered ports
acl Safe_ports port 280         # http-mgmt
acl Safe_ports port 488         # gss-http
acl Safe_ports port 591         # filemaker
acl Safe_ports port 777         # multiling http
acl CONNECT method CONNECT
http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports
http_access allow localhost manager
http_access deny manager
http_access allow localnet
http_access allow localhost
http_access deny all

coredump_dir /var/spool/squid

#######################################################################
# REMINDER: Squid processes refresh_pattern entries in order and stops
# at the first matching pattern.
#######################################################################

# Cache certificate files up to 30 days unless overridden by origin server (headers).
# NOTE: Origin server headers may override these values (e.g., via 's-maxage' header).
refresh_pattern \.(crt|cer|pem)$ 1440 20% 43200

refresh_pattern ^ftp:           1440    20%     10080
refresh_pattern -i (/cgi-bin/|\?) 0     0%      0
refresh_pattern .               0       20%     4320

http_port 3128
cache_dir ufs /var/spool/squid 100 16 256
cache_mem 64 MB
maximum_object_size_in_memory 1 MB
maximum_object_size 4 MB
cache_replacement_policy heap LFUDA
memory_replacement_policy heap GDSF
cache_log /var/log/squid/cache.log
access_log /var/log/squid/access.log
cache_store_log none
logfile_rotate 10
shutdown_lifetime 1 second
client_lifetime 1 minute
half_closed_clients off
pconn_timeout 1 minute
```


After some tinkering, here is what I'm currently using for testing within a Podman container:

```squid
# Purpose:
#
# Provide a local caching layer for the Nagios check_cert plugin to retrieve
# AIA certificates as part of its validation checks (to respect CA-hosted
# resource limits/prevent triggering rate limits).

# Credit: Microsoft Copilot, ChatGPT, official documentation

# Remote ports associated with HTTP/HTTPS resources.
acl Safe_ports port 80
acl Safe_ports port 443

acl SSL_ports port 443
acl CONNECT method CONNECT

# Start with denying requests to ports other than those we're explicitly
# allowing, then permit those we've listed as safe.
http_access deny !Safe_ports
http_access allow Safe_ports

# Deny CONNECT to other than SSL ports
http_access deny CONNECT !SSL_ports

# Define ACL for localhost, then permit IPs matching that ACL to access the
# proxy. Deny all other access.
#
# NOTE: Commented out as Squid objected to this.
#
# acl localhost src 127.0.0.1/32 ::1

http_access allow localhost
http_access deny all


#######################################################################
# REMINDER: Squid processes refresh_pattern entries in order and stops
# at the first matching pattern.
#######################################################################

# Cache certificate files up to 30 days unless overridden by origin server
# (headers). NOTE: Origin server headers may override these values (e.g., via
# 's-maxage' header).
refresh_pattern \.(crt|cer|pem)$ 1440 20% 43200
refresh_pattern .               0       20%     4320

# Listen only on localhost (same system)
# http_port 127.0.0.1:3128

# Listen on all IPs (intended for container use)
http_port 3128

# Assuming average size of a X.509 certificate is 4KB (larger size), roughly
# 25K certificates can fit in a 100 MB ufs cache.
cache_dir ufs /var/spool/squid 100 16 256

# Optimizations/tuning intended to have Squid use minimal memory and support
# roughly 300 simultaneous connections (e.g., 300 certificate service checks
# triggering closely together), each with a very short connection lifetime
# (that of the plugin's execution).
cache_mem 64 MB
maximum_object_size_in_memory 1 MB
maximum_object_size 4 MB
cache_replacement_policy heap LFUDA
memory_replacement_policy heap GDSF
cache_log stdio:/var/log/squid/cache.log
access_log stdio:/var/log/squid/access.log
cache_store_log none
logfile_rotate 10
shutdown_lifetime 1 second
client_lifetime 1 minute
half_closed_clients off
pconn_timeout 1 minute
```

I'm launching the container via:

```console
$ cd /path/to/squid/config/dir
$ podman run -d --name squid-proxy \
  -p 127.0.0.1:3128:3128/tcp \
  -v squid-cache:/var/spool/squid \
  -v $(pwd)/squid.conf:/etc/squid/squid.conf:ro \
  docker.io/ubuntu/squid:latest
```

I kept running into long delays when attempting to use the containers for testing. I don't know if this is due to local security software getting in the way (e.g., Cisco AMP, Cisco Umbrella), but I dug around and realized that I hadn't been taking advantage of systemd support in WSLv2.

- https://learn.microsoft.com/en-us/windows/wsl/systemd
- https://devblogs.microsoft.com/commandline/systemd-support-is-now-available-in-wsl/
- https://learn.microsoft.com/en-us/windows/wsl/wsl-config#wslconf

After adding this to `/etc/wsl.conf` in my Ubuntu 22.04 distribution:

```ini
[boot]
systemd=true
```

and restarting that WSL distribution I was able to install the `squid` package "natively", confirm that it was set to start at boot and then replace the stock config with the limited one noted previously followed by a restart of the service.

A brief test shows *fast* response times, so we're good on that front.